[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
mypy = "*"
flake8 = "*"
wbydo-parser = {editable = true,path = "."}

[requires]
python_version = "3.7"

[scripts]
apidoc = "sphinx-apidoc -f -o ./source ./hoge"
build = "sphinx-build -a ./source ./docs"
test = "python -m unittest discover -s ./tests -v"
type = "mypy wbydo_parser"
lint = "flake8 wbydo_parser tests"
